/nushell/history.txt
discord/
dconf/
flameshot/
GIMP/
obsidian/
procps/
pulse/
rclone/
pcmanfm/
Mechvibes/
libfm/
gtk-2.0/
mangal/
mpv/
neofetch/
pdfcpu/
pipewire/
transmission/
htop/
QtProject.conf
cef_user_data/
GitForUnity/
Mousepad/
Code - OSS/
GitForUnity/
unity3d/
unityhub/
font-manager/
bitburner/
chromium/
lxsession/
obs-studio/
whoozle.github.io/
kitenrc
kitenradselectrc
klettresrc
ktouch2rc
packer_compiled.lua
Unity/
vlc/
nnn
