discord/
dconf/
flameshot/
GIMP/
obsidian/
procps/
pulse/
rclone/
pcmanfm/
Mechvibes/
libfm/
gtk-2.0/
mangal/
mpv/
neofetch/
pdfcpu/
pipewire/
transmission/
htop/
QtProject.conf
cef_user_data/
packer_compiled.lua
