[Desktop Entry]
Type=Application
Name=LXRandR autostart
Comment=Start xrandr with settings done in LXRandR
Exec=sh -c 'xrandr --output eDP-1 --mode 1600x900 --rate 59.99'
OnlyShowIn=LXDE
